@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1ed6e3;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #010404c7;
}

/* Navbar */
.navbar {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo
{
  letter-spacing: 2px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.navbar a:hover {
  color: var(#1ed6e3);
  text-decoration: underline;
}



/* Showcase */
.showcase {
  margin-left: 450px;
  height: 700px;
  width: 700px;
  border-radius: 85% 15% 82% 18% / 45% 51% 49% 55% ;
  background: rgb(1,22,23);
background: linear-gradient(231deg, rgba(1,22,23,1) 0%, rgba(28,175,210,1) 30%, rgba(80,195,232,1) 71%, rgba(0,99,255,1) 100%);
}

.showcase h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 1rem;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  transition:cubic-bezier(0.19, 1, 0.22, 1) all 1s;
}

form button:hover {
  transform: scale(1.1);
}

/* Image */

.image {
  width: 100%;
  margin-top: 2rem;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}